<?xml version="1.0" encoding="utf-8" ?>
<Context>
  <MaterialNumber>17</MaterialNumber>
  <MaterialType>theory</MaterialType>
  <MaterialName>Спискові включення</MaterialName>
  <MaterialDescription>Створення списків за допомогою спискових включень. Використання умовних виразів у спискових включеннях.</MaterialDescription>
  <ParagraphCount>9</ParagraphCount>
</Context>