<?xml version="1.0" encoding="utf-8" ?>
<Context>
  <MaterialNumber>2</MaterialNumber>
  <MaterialType>theory</MaterialType>
  <MaterialName>Базові синтаксичні конструкції</MaterialName>
  <MaterialDescription>Коментарі, змінні, основні типи даних та оператори (арифметичні та логічні).</MaterialDescription>
  <ParagraphCount>3</ParagraphCount>
</Context>