<?xml version="1.0" encoding="utf-8" ?>
<Context>
  <MaterialNumber>6</MaterialNumber>
  <MaterialType>theory</MaterialType>
  <MaterialName>Словники</MaterialName>
  <MaterialDescription>Створення словників, доступ до елементів. Основні методи словників (keys, values, items).</MaterialDescription>
  <ParagraphCount>3</ParagraphCount>
</Context>