<?xml version="1.0" encoding="utf-8" ?>
<Context>
  <MaterialNumber>3</MaterialNumber>
  <MaterialType>theory</MaterialType>
  <MaterialName>Робота з рядками</MaterialName>
  <MaterialDescription>Основні операції та методи рядків.</MaterialDescription>
  <ParagraphCount>3</ParagraphCount>
</Context>