<?xml version="1.0" encoding="utf-8" ?>
<Context>
  <MaterialNumber>4</MaterialNumber>
  <MaterialType>theory</MaterialType>
  <MaterialName>Списки та їх методи</MaterialName>
  <MaterialDescription>Створення списків, додавання та видалення елементів. Основні методи списків (append, remove, pop, insert).</MaterialDescription>
  <ParagraphCount>3</ParagraphCount>
</Context>