<?xml version="1.0" encoding="utf-8" ?>
<Context>
  <MaterialNumber>8</MaterialNumber>
  <MaterialType>practice</MaterialType>
  <MaterialName>Тест. Базові конструкції, рядки, списки, кортежі, словники, множини</MaterialName>
  <MaterialDescription>Перевірте знання з попередніх тем!</MaterialDescription>
  <ParagraphCount>20</ParagraphCount>
</Context>