<?xml version="1.0" encoding="utf-8" ?>
<Context>
  <MaterialNumber>1</MaterialNumber>
  <MaterialType>theory</MaterialType>
  <MaterialName>Вступ</MaterialName>
  <MaterialDescription>Дізнайтеся, що таке Python та як його встановити на ваш комп'ютер.</MaterialDescription>
  <ParagraphCount>3</ParagraphCount>
</Context>